<template name="lista">
  <h1 class="center">Tarefas</h1>
  <ul class="collection">
    {{#each tarefas}}
      <li class="collection-item">
        <div class="row sem-margin-bottom">
          <div class="col s7 m9">
            <span class="{{isCheck}}">{{nome}}</span>
          </div>

          <div class="col s5 m3">

            <a data-tooltip="Remover Tarefa!" class="btn-floating waves-effect waves-light black btn-small right btn tooltipped removerTarefa"
              data-position="top">
              <i class="mdi-navigation-close"></i></a>

            <a data-tooltip="Editar Tarefa!" class="btn-floating waves-effect waves-light black btn-small right btn tooltipped editarTarefa"
              data-position="top">
              <i class="mdi-editor-mode-edit"></i></a>

            <input type="checkbox" id="{{_id}}" checked="{{status}}">
            <label data-tooltip="Status" class="right tooltipped" data-position="top" for="{{_id}}"></label>
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
</template>
